@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-family: var(--font-beba);
  font-size: large;
}

h1 {
  font-family: var(--font-beba);
  font-size: xx-large;
}

nav {
  text-align: center;
  position: fixed;
  float: left;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  list-style-type: none;
  background-color: #ffffff;
  z-index: 999;
}
