<script type="text/javascript">
  gnp_url = "active-inland-empire-inc";
  gnp_num = "1";
</script>
<script
  src="https://greatnonprofits.org/js/api/badge_stars.js"
  type="text/javascript"
></script>
<noscript>
  <a href="https://greatnonprofits.org/org/active-inland-empire-inc/?badge=1">
    <img
      alt="Review Active Inland Empire Inc on Great Nonprofits"
      title="Review Active Inland Empire Inc on Great Nonprofits"
      src="//cdn.greatnonprofits.org/images/great-nonprofits.gif?id=997664128"
    /> </a
></noscript>
